*.cbp
*.o
*.o.post
main.*.c
Project.layout
Debug\+Asserts
autom4te.cache
autoconf/configure.bak
config.log
config.status
.*\.swp$

CMakeFiles/
cmake_install.cmake

/CMakeCache.txt
/Makefile
/src/Makefile
/src/LLVMSlicer.so
